In [3]:
import matplotlib
%matplotlib inline
import pandas as pd

In [4]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                title  year
0  The Scrap of Paper  1920
1       Romance Ranch  1924
2   Tirante el Blanco  2006
3        Tom & Thomas  2002
4                 Don  2007

In [16]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head(7)

                               title  year          name   type character   n
0                    Suuri illusioni  1985        Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007     Too $hort  actor   Himself NaN
2                  Menace II Society  1993     Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009     Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014     Too $hort  actor   Himself NaN
5                            Townbiz  2010     Too $hort  actor   Himself NaN
6                     For Thy Love 2  2009  Bee Moe $lim  actor    Thug 1 NaN

### How many movies are listed in the titles dataframe?

In [15]:
len(titles)

216537

In [30]:
lc = titles.head(5) # small tittle df

In [31]:
lc

                title  year
0  The Scrap of Paper  1920
1       Romance Ranch  1924
2   Tirante el Blanco  2006
3        Tom & Thomas  2002
4                 Don  2007

In [32]:
len(lc)

5

In [33]:
lc.year

0    1920
1    1924
2    2006
3    2002
4    2007
Name: year, dtype: int64

In [34]:
lc['year']

0    1920
1    1924
2    2006
3    2002
4    2007
Name: year, dtype: int64

In [35]:
lc.year >2000

0    False
1    False
2     True
3     True
4     True
Name: year, dtype: bool

In [36]:
lc[lc.year>2000] # filtering
# lc.year>2000 returns the list of true false and lc[true,false....list] it prints correspponding rows

               title  year
2  Tirante el Blanco  2006
3       Tom & Thomas  2002
4                Don  2007

In [37]:
lc[(lc.year<1990) | (lc.year>=1800)]

                title  year
0  The Scrap of Paper  1920
1       Romance Ranch  1924
2   Tirante el Blanco  2006
3        Tom & Thomas  2002
4                 Don  2007

In [43]:
t = titles
t[t.title == 'Macbeth'].sort('year').tail()

          title  year
35579   Macbeth  2013
80269   Macbeth  2014
121685  Macbeth  2015
36529   Macbeth  2016
189158  Macbeth  2017

In [47]:
t.title.order().head() # sort in table,list and order in series

75118          #1 Serial Killer
118059                       #5
201053               #50Fathers
95909                       #66
126396    #73, Shaanthi Nivaasa
Name: title, dtype: object

### What are the earliest two films listed in the titles dataframe?

In [49]:
titles.sort('year').head(2)

                                                 title  year
145368                                      Miss Jerry  1894
200780  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [50]:
len(titles[titles.title=='Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [51]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [56]:
titles[titles.title=='Hamlet'].sort('year').head(1)

         title  year
206169  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [58]:
titles[titles.title=='Treasure Island'].sort('year')

                  title  year
117842  Treasure Island  1918
209218  Treasure Island  1920
33742   Treasure Island  1934
5560    Treasure Island  1950
117185  Treasure Island  1972
143154  Treasure Island  1973
171572  Treasure Island  1985
203476  Treasure Island  1999

### How many movies were made in the year 1950?

In [60]:
len(titles[titles.year==1950])

1037

### How many movies were made in the year 1960?

In [61]:
len(titles[titles.year==1960])

1476

### How many movies were made from 1950 through 1959?

In [62]:
len(titles[(titles.year>=1950)&(titles.year<=1959)])

12197

### In what years has a movie titled "Batman" been released?

In [69]:
titles[titles.title=='Batman'].year

126073    1989
206649    1943
Name: year, dtype: int64

In [70]:
type(titles[titles.title=='Batman'].year)

pandas.core.series.Series

### How many roles were there in the movie "Inception"?

In [71]:
c = cast

In [76]:
len(c[c.title=='Inception'])

75

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [90]:
len(c[(c.title=='Inception') & (c.n.notnull())])

51

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?