In [43]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
from __future__ import division, print_function

In [2]:
df = pd.read_csv('kc_house_data.csv')
df_test = pd.read_csv('kc_house_test_data.csv')
df_train = pd.read_csv('kc_house_train_data.csv')

In [57]:
df[0:2]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [4]:
df_test.shape

(4229, 21)

In [5]:
df_train.shape

(17384, 21)

In [48]:
def simple_linear_regression(feature,output):
    N = len(output)
    y_sum = sum(output)
    x_sum = sum(feature)
    x_sq_sum = sum(x*x for x in feature)
    xy_sum = sum(x*y for x,y in zip(feature,output))
    W1 = (xy_sum - x_sum*y_sum/N)/(x_sq_sum - x_sum*x_sum/N) #intercept
    W0 = y_sum/N - W1*x_sum/N    #slope
    return(W0,W1) # (intercept,slope)

In [7]:
input_feature = df_train['sqft_living']
output = df_train['price']

In [33]:
model_sqft = simple_linear_regression(input_feature, output)

In [34]:
model_sqft

(-47116.079067389714, 281.95883962769625)

In [10]:
def predict_simple_LR(feature, intercept, slope):
    return(feature*slope + intercept)

In [38]:
predict_simple_LR(2650, model_sqft[0], model_sqft[1])

700074.84594600531

In [22]:
def RSS(feature, output, intercept, slope):
    RSS_Sum = 0
    for x in range(len(feature)):
        RSS_Sum += (output[x] - predict_simple_LR(feature[x],intercept, slope))**2
    return RSS_Sum

In [37]:
RSS(input_feature, output, model_sqft[0], model_sqft[1])

1201918354177287.0

In [29]:
len('1201918354177287')

16

In [30]:
input_feature_bedroom = df_train['bedrooms']

In [32]:
model_bedroom = simple_linear_regression(input_feature_bedroom, output)

In [36]:
model_bedroom

(109493.56662402861, 127582.90164082233)

In [35]:
RSS(input_feature_bedroom, output, model_bedroom[0], model_bedroom[1])

2143244498685007.8

In [50]:
def predict_inverse_LR(output, intercept, slope):
    return((output - intercept)/slope)

In [58]:
predict_inverse_LR(800000,model_sqft[0], model_sqft[1])

3004.3962451609523

In [59]:
predict_simple_LR(3004.39,model_sqft[0], model_sqft[1])

799998.23912166455